/* .offers{
    margin-right: 20px;
    margin-left: 20px;
} */
.current {
    font-family: "Karla", Sans-serif;
    font-size: 20px;  
    font-weight: bold;  
    padding : 30px;
}

.current a{
    color:black;
    text-decoration: none;

}
a:hover{
    color:#007bff;
}

h1{
    font-family: "Karla", Sans-serif;
    font-size: 40px;  
    font-weight:500;  
    padding : 30px;
}

.display{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
}
.item{
    flex:1;
    text-align: center;
}
img{
    height:400px;
    width:400px;
}
h2{
    font-family: "Karla", Sans-serif;
    font-weight: lighter;
    font-size: medium;
    padding: 10px;
    letter-spacing: 1px;
}
h3{
    font-family: "Karla", Sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    letter-spacing: 1px;
}