.quick-nav {
    display: inline;
    margin-left: 12%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.quick-nav a {
    text-decoration: none;
    color: rgb(65, 63, 63);
    font-weight: bold;
}

a:hover {
    color: rgb(59, 105, 234);
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 540;
    font-family: 'Poppins', sans-serif;
    margin-left: 7%;
}

.cafe-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

.cafe-cards {
    display: 30%;
    height: 250px;
    padding-top: -10px;
    margin-bottom: 20px;
}

.cafe-cards:hover {
    border: 2px solid black;
}

.cafe-image {
    height: 180px;
    width: 280px;
}

.cafe-name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}