.quick-nav {
    margin-left: 12%;
    font-size: 15px;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.quick-nav a {
    text-decoration: none;
    color: rgb(61, 59, 59);
    font-weight: bold;
}

a:hover {
    color: rgb(59, 105, 234);
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 540;
    font-family: 'Poppins', sans-serif;
    margin-left: 7%;
}

.court-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between
}

.court-cards {
    display: 30%;
    height: 250px;
    padding-top: -10px;
    margin-bottom: 7%;
    background-color: rgb(243, 236, 236);
}

.court-cards:hover {
    border: 2px solid black;
}

.court-image {
    height: 180px;
    width: 250px;
}

.court-name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}