/* quick-nav  style  */

.quick-nav {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
}

.quick-nav a {
  text-decoration: none;
  color: #42495b;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.quick-nav a:hover {
  color: #007bff;
  cursor: pointer;
}

.quick-nav p {
  color: #42495b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* movie card  */

.movieCard-wrapper {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  font-family: "Poppins", sans-serif;
}

.movieCardHeading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3%;
}

.movieCardDetail {
  display: flex;
}

.movieCardDesc {
  width: 100%;
  flex: 1;
  margin-top: 5%;
  line-height: 35px;
  height: 25rem;
}

.movieCardImg {
  flex: 1;
  /* background-color: #f3eacedc; */
  margin-bottom: 100px;
  border-radius: 16px;
}

.movieCardImg img {
  height: 25rem;
  margin-left: 13%;
}

/* comments */
.commentRate {
  color: orange;
}

.mainComment {
  border: 1px solid #9699a0;
  border-radius: 10px;
  background-color: rgba(250, 249, 249, 0.87);
  height: 100%;
}

/* .message {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.message {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 50ch;
  text-overflow: ellipsis;
  white-space: normal;
}
