/* .offers{
    margin-right: 20px;
    margin-left: 20px;
} */
.current {
    font-family: "Karla", Sans-serif;
    font-size: 20px;  
    font-weight: bold;  
    padding : 30px;
}

.current a{
    color:black;
    text-decoration: none;

}
a:hover{
    color:#007bff;
}

h1{
    font-family: "Karla", Sans-serif;
    font-size: 40px;  
    font-weight:500;  
    /* padding : 30px; */
}

.display{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    /* justify-content: center;  */
    padding-left:100px;
}
.image{
    flex:2;
    margin-right: 50px;
    /* text-align: center; */
}
img{
    height:500px;
    width:500px;
}
.offer-info{
    flex:3;
}
h2{
    font-family: "Karla", Sans-serif;
    font-weight: lighter;
    font-size: 30px;
    /* padding: 10px; */
    letter-spacing: 1px;
}
h3{
    font-family: "Karla", Sans-serif;
    font-weight: lighter;
    font-size: 22px;
    /* padding: 10px; */
    letter-spacing: 1px;
}
p{
    font-size: larger;
}